<div class="col-md-6">
  <div [hidden]="submitted">
    <nb-card>
      <nb-card-header>Cargar un Aspecto</nb-card-header>
      <nb-card-body>
        <form *ngIf="active" (ngSubmit)="onSubmit()" #aspectoForm="ngForm">
          <div class="form-group">  
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha"
                  required
                  [(ngModel)]="aspecto.fecha" name="fecha"
                  #fecha="ngModel" >
            <div [hidden]="fecha.valid || fecha.pristine"
                class="alert alert-danger">
              La Fecha es necesaria
            </div>
          </div>
          <div class="form-group">  
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion"
                  required
                  [(ngModel)]="aspecto.descripcion" name="descripcion"
                  #descripcion="ngModel" >
            <div [hidden]="descripcion.valid || descripcion.pristine"
                class="alert alert-danger">
              La Descripcion es necesaria
            </div>
          </div>
          <div class="form-group">  
            <label for="latitud">Latitud</label>
            <input type="number" class="form-control" id="latitud"
                  required
                  [(ngModel)]="aspecto.latitud" name="latitud"
                  #latitud="ngModel" >
            <div [hidden]="latitud.valid || latitud.pristine"
                class="alert alert-danger">
              La latitud es necesaria
            </div>
          </div>
          <div class="form-group">  
            <label for="longitud">Longitud</label>
            <input type="number" class="form-control" id="longitud"
                  required
                  [(ngModel)]="aspecto.longitud" name="longitud"
                  #longitud="ngModel" >
            <div [hidden]="longitud.valid || longitud.pristine"
                class="alert alert-danger">
              La longitud es necesaria
            </div>
          </div>
          <div class="form-group">
            <label for="categoria_id">Categoría</label>
            <select class="form-control" id="categoria_id"
                    required
                    [(ngModel)]="aspecto.categoria_id" name="categoria_id"
                    #categoria_id="ngModel" >
              <option *ngFor="let cat of categorias" [value]=cat.id>{{cat.nombre}}</option>
            </select>
            <div [hidden]="categoria_id.valid || categoria_id.pristine" class="alert alert-danger">
              Categoria requerida
            </div>
          </div>
          <div class="form-group">
            <label for="denunciante_id">Denunciante</label>
            <select class="form-control" id="denunciante_id"
                    required
                    [(ngModel)]="aspecto.denunciante_id" name="denunciante_id"
                    #denunciante_id="ngModel" >
              <option *ngFor="let den of denunciantes" [value]=den.id>{{den.telefono}}</option>
            </select>
            <div [hidden]="denunciante_id.valid || denunciante_id.pristine" class="alert alert-danger">
              Denunciante requerido
            </div>
          </div>
          <div class="form-group">  
            <label for="fecha_ocurrencia">Fecha de Ocurrencia</label>
            <input type="date" class="form-control" id="fecha_ocurrencia"
                  required
                  [(ngModel)]="aspecto.fecha_ocurrencia" name="fecha_ocurrencia"
                  #fecha_ocurrencia="ngModel" >
            <div [hidden]="fecha_ocurrencia.valid || fecha_ocurrencia.pristine"
                class="alert alert-danger">
              La Fecha de ocurrencia es necesaria
            </div>
          </div>
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <select class="form-control" id="tipo"
                    required
                    [(ngModel)]="aspecto.tipo" name="tipo"
                    #tipo="ngModel" >
              <option *ngFor="let tip of tipos" [value]="tip.tipo">{{tip.nombre}}</option>
            </select>
            <div [hidden]="tipo.valid || tipo.pristine" class="alert alert-danger">
              Tipo requerido
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!aspectoForm.form.valid">Cargar Aspecto</button>
          <button type="button" class="btn btn-warning" (click)="limpiar()">Limpiar</button>      
          </form>
        </nb-card-body>
    </nb-card>    
  </div>
 
  <div [hidden]="!submitted">
    <h2>Datos enviados:</h2>
    <div class="row">
      <div class="col-xs-3">Fecha:</div>
      <div class="col-xs-9  pull-left">{{ aspecto.fecha }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Decripción:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.descripcion }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Latitud:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.latitud }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Longitud:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.longitud }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Categoria:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.categoria_id }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Denunciante:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.denunciante_id }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Fecha Ocurrencia:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.fecha_ocurrencia }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Tipo:</div>
      <div class="col-xs-9 pull-left">{{ aspecto.tipo }}</div>
    </div>
    <br>
    <button class="btn btn-warning" (click)="submitted=false">Cambiar</button>
  </div>
</div>