<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo">Municipio de <span>Springfield</span></div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
</div>

