<div class="col-md-6">
  <div [hidden]="submitted">
    <nb-card>
      <nb-card-header>Cargar un Gasto</nb-card-header>
      <nb-card-body>
        <form *ngIf="active" (ngSubmit)="onSubmit()" #gastoForm="ngForm">
          <div class="form-group">  
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha"
                  required
                  [(ngModel)]="gasto.fecha" name="fecha"
                  #fecha="ngModel" >
            <div [hidden]="fecha.valid || fecha.pristine"
                class="alert alert-danger">
              La Fecha es necesaria
            </div>
          </div>
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-control" id="categoria"
                    required
                    [(ngModel)]="gasto.categoria" name="categoria"
                    #categoria="ngModel" >
              <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
            </select>
            <div [hidden]="categoria.valid || categoria.pristine" class="alert alert-danger">
              Categoria requerida
            </div>
          </div>
          <div class="form-group">  
            <label for="monto">Monto</label>
            <input type="number" class="form-control" id="monto"
                  required
                  [(ngModel)]="gasto.monto" name="monto"
                  #monto="ngModel" >
            <div [hidden]="monto.valid || monto.pristine"
                class="alert alert-danger">
              El monto del gasto es necesario.
            </div>
          </div>
          <div class="form-group">  
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion"
                  required
                  [(ngModel)]="gasto.descripcion" name="descripcion"
                  #descripcion="ngModel" >
            <div [hidden]="descripcion.valid || descripcion.pristine"
                class="alert alert-danger">
              La Descripcion es necesaria
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!gastoForm.form.valid">Cargar Gasto</button>
          <button type="button" class="btn btn-warning" (click)="limpiar()">Limpiar</button>      
          </form>
        </nb-card-body>
    </nb-card>    
  </div>
 
  <div [hidden]="!submitted">
    <h2>Datos enviados:</h2>
    <div class="row">
      <div class="col-xs-3">Fecha:</div>
      <div class="col-xs-9  pull-left">{{ gasto.fecha }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Categoria:</div>
      <div class="col-xs-9 pull-left">{{ gasto.categoria }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Monto:</div>
      <div class="col-xs-9 pull-left">{{ gasto.monto }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Descripcion:</div>
      <div class="col-xs-9 pull-left">{{ gasto.descripcion }}</div>
    </div>
    <br>
    <button class="btn btn-warning" (click)="submitted=false">Cambiar</button>
  </div>
</div>