<div class="col-md-6">
  <div [hidden]="submitted">
    <nb-card>
      <nb-card-header>Cargar un Impuesto</nb-card-header>
      <nb-card-body>
        <form *ngIf="active" (ngSubmit)="onSubmit()" #impuestoForm="ngForm">
          <div class="form-group">  
            <label for="id">Id</label>
            <input type="number" class="form-control" id="id"
                  required
                  [(ngModel)]="impuesto.id" name="id"
                  #id="ngModel" >
            <div [hidden]="id.valid || id.pristine"
                class="alert alert-danger">
              El id del impuesto es necesario.
            </div>
          </div>
          <div class="form-group">  
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha"
                  required
                  [(ngModel)]="impuesto.fecha" name="fecha"
                  #fecha="ngModel" >
            <div [hidden]="fecha.valid || fecha.pristine"
                class="alert alert-danger">
              La Fecha es necesaria
            </div>
          </div>
          <div class="form-group">
            <label for="tipo">Categoría</label>
            <select class="form-control" id="tipo"
                    required
                    [(ngModel)]="impuesto.tipo" name="tipo"
                    #tipo="ngModel" >
              <option *ngFor="let tip of tipos_impuesto" [value]=tip.id>{{tip.nombre}}</option>
            </select>
            <div [hidden]="tipo.valid || tipo.pristine" class="alert alert-danger">
              Tipo requerido
            </div>
          </div>
          <div class="form-group">  
            <label for="monto">Monto</label>
            <input type="number" class="form-control" id="monto"
                  required
                  [(ngModel)]="impuesto.monto" name="monto"
                  #monto="ngModel" >
            <div [hidden]="monto.valid || monto.pristine"
                class="alert alert-danger">
              El monto del impuesto es necesario.
            </div>
          </div>
          <div class="form-group">  
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion"
                  required
                  [(ngModel)]="impuesto.descripcion" name="descripcion"
                  #descripcion="ngModel" >
            <div [hidden]="descripcion.valid || descripcion.pristine"
                class="alert alert-danger">
              La Descripcion es necesaria
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!impuestoForm.form.valid">Cargar impuesto</button>
          <button type="button" class="btn btn-warning" (click)="limpiar()">Limpiar</button>      
          </form>
        </nb-card-body>
    </nb-card>    
  </div>
 
  <div [hidden]="!submitted">
    <h2>Datos enviados:</h2>
    <div class="row">
      <div class="col-xs-3">Id:</div>
      <div class="col-xs-9 pull-left">{{ impuesto.id }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Fecha:</div>
      <div class="col-xs-9  pull-left">{{ impuesto.fecha }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Tipo:</div>
      <div class="col-xs-9 pull-left">{{ impuesto.tipo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Monto:</div>
      <div class="col-xs-9 pull-left">{{ impuesto.monto }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Descripcion:</div>
      <div class="col-xs-9 pull-left">{{ impuesto.descripcion }}</div>
    </div>
    <br>
    <button class="btn btn-warning" (click)="submitted=false">Cambiar</button>
  </div>
</div>